<!DOCTYPE html>
<html>

<head>
    <meta charset='UTF-8'>

    <title>fo-sticky-note Test</title>

    <!-- index.css is part of the test application only, not fo-sticky-note. -->
    <link rel="stylesheet" href="index.css" />

</head>

<body>
    <div id="app"
         v-on:keydown='appOnKeyDown($event)'
    >
        <h2>fo-sticky-note Vue.js Component Test Page</h2>      

        <button v-on:click="addWidget('stickynotecontainer')" style='margin-bottom:10px;'>New Sticky Note</button>
    
        <div id='grid-stack' class='grid-stack'
            v-on:keydown='gridStackOnKeyDown($event)'
        >
            <!-- 
                Because this <sticky-note-container> tag has v-for attribute, it actually represents
                multiple instances of <sticky-note-container> which are represented by the array stored 
                in the app's data element called 'dataObjects'.

                Notice that the eachDataObject iterator is in scope everywhere within the 
                <sticky-note-container> tag.
            -->

            <grid-stack-item
                v-for="eachDataObject in dataObjects"
                v-bind:dataobject="eachDataObject"
                        
                v-on:remove="removeWidget(eachDataObject)"

                v-on:color-button-click='handleGiColorButtonClick($event)'
                v-on:color-button-unclick='handleGiColorButtonUnclick($event)'
                v-on:note-change='handleGiNoteChange($event)'
                v-on:title-change='handleGiTitleChange($event)'
                v-on:blur='handleGiBlur($event)'
                v-on:close-button-click='handleGiCloseButtonClick($event)'
                v-on:keydown='gsiOnKeyDown($event)'
                >
            </grid-stack-item>

        </div>

        <br/>
        
        <div style='height: 300px; width: 300px; max-height: 300px; max-width: 300px; background-color:teal;'>
            <fo-sticky-note
                id='FeeFieFoeFum'
                note='How do you like this sticky note?'
                note-title='Outside of the Gridstack'
            ></fo-sticky-note>
        </div>

        <swatches 
            id="colorPicker" 
            v-model="colors"
            v-on:color-change='handleColorChange($event)'
            v-on:keydown='colorPickerOnKeyDown($event)'
            >
        </swatches>
    
    </div>

    <!-- This template is used by the VueJS component named 'sticky-note-container', and defined in index.js. -->
    
    <template id="gsi-template">
        <!-- 
            The first div is the gridstack item's outer div.
            VueJS data bindings are attached to both the outer div and the fo-sticky-note.
        -->
        <div v-bind:id="dataobject.id"
            v-bind:data-gs-id="dataobject.id"
            v-bind:data-gs-width="5"
            v-bind:data-gs-height="4"
            >
        
            <!-- The 'grid-stack-item-content' div is contained inside the VueJS grid-stack-item component. -->

            <div class="grid-stack-item-content"
                v-on:keydown='gsiContentOnKeyDown($event)'
                >
                <fo-sticky-note v-bind:id='dataobject.stickyNoteProps.id' 
                    v-bind:background-color='dataobject.stickyNoteProps.backgroundColor'
                    v-bind:color='dataobject.stickyNoteProps.color'
                    v-bind:font-family='dataobject.stickyNoteProps.fontFamily'
                    v-bind:font-size='dataobject.stickyNoteProps.fontSize'
                    v-bind:line-height='dataobject.stickyNoteProps.lineHeight'
                    v-bind:menu-is-pinned='dataobject.stickyNoteProps.menuIsPinned'
                    v-bind:note='dataobject.stickyNoteProps.note' 
                    v-bind:note-title='dataobject.stickyNoteProps.noteTitle'
                    
                    v-on:color-button-click='handleSnColorButtonClick($event)'
                    v-on:color-button-unclick='handleSnColorButtonUnclick($event)'
                    v-on:close-button-click='handleSnCloseButtonClick($event)'
                    v-on:note-change='handleSnNoteChange($event)'
                    v-on:title-change='handleSnTitleChange($event)'
                    v-on:blur='handleSnBlur($event)'
                    v-on:keydown='stickyNoteOnKeyDown($event)'
                    use-parent-resize-listener=false
                    >
                </fo-sticky-note>
            </div>
    
        </div>
    </template>

    <!-- 
    Best practice is to load all of the JavaScript libraries at the end of the <body>, just before
    the closing </body> tag. 
    -->

    <!-- 
    These dependencies are expected to be in any environment in which the component is used.
    They are not bundled into our component.
    -->

    <script src='node_modules/jquery/dist/jquery.min.js'></script>
    <script src='node_modules/jqueryui/jquery-ui.min.js'></script>
    <script src='node_modules/lodash/lodash.min.js'></script>
    <script src='node_modules/vue/dist/vue.min.js'></script>

    <!-- 
    Gridstack is used in the test application as a convenient means of 
    arranging multiple instances of fo-sticky-note on the page.
    -->

    <script src="node_modules/gridstack/dist/gridstack.min.js"></script>
    <script src="node_modules/gridstack/dist/gridstack.jQueryUI.min.js"></script>
    <link rel="stylesheet" href="node_modules/gridstack/dist/gridstack.min.css" />

    <!-- 
    Utilities 
    -->
    
    <script src='lib/lorem-ipsum.js'></script>
    <script src='lib/randomColor.js'></script>

    <script type='module' src='./index.es6.js'></script>

</body>

</html>